.circle-login-background {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to bottom right,
    #f8fbff,
    #ffffff
  ); /* ✅ nền sáng */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: repeating-conic-gradient(
    #0008ff 0deg 10deg,
    transparent 10deg 20deg
  );
  animation: spin 4s linear infinite;
  z-index: 0;
  opacity: 0.05;
  filter: blur(1px);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.circle-login-form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.circle-title {
  color: #00f7ff;
  font-size: 24px;
  margin-bottom: 20px;
}

.circle-input {
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid #00f7ff;
  background-color: #0f172a;
  color: white;
  font-size: 14px;
  outline: none;
  box-shadow: none;
}

.circle-input::placeholder {
  color: #8ec7e0;
}

.eye-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  color: #00f7ff;
  background: transparent;
  border: none;
  cursor: pointer;
}
